* {
   box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  background-color:antiquewhite;
  /* padding: 2px 3px ; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
/* .nav--logo {
  max-width: 100px;  /*so its not stretch more then 100px */

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

section {
  padding: 20px;
}
.Hero {
  display: flex;
  flex-direction: column;
}
.Hero--photo {
  max-width: 600px;
  align-self: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Hero--header{
  margin-bottom: 16px;
  font-size: xx-large;
}
.Hero--text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 15px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 175px;
  border-radius: 10px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 12px;
  width: 15px;
  margin-right: 4px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 2px 7px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 100%;
}